{% extends "blog/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/style.css' %}">
{% endblock %}
{% block side %}
<div class="cont">
  <div class="point"><h3>Estimated Marks  <br> 19/20 </h3> </div>
  <div class="keyword"><h4>Answer Keywords</h4> <p>about rock provide apYeared low middle reducing pnoving fast far few fgn little.
time and changes lanp net in toenty states oote drivers liance stm street.
fault bog girl nothing silence wake woke beinvg stay cause after let v future.
shooting shot shod little mx like ths shark power position sign loose finel.
video farm pg ham han corS rosl roll crazy rock gone part zeall street bbx ehkw.</p> </div>
</div>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group conta">
        <center><legend class="keyword"><h4>Enter the marks for student</h4></legend></center>
          {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn" type="submit">Next question</button>
    </div>
</form>
{% endblock side %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group conta">
            <h3 class="border-bottom mb-4" > Answer 1</h3>
            <div class="summary"><h4>Summary of the Answer</h4><p>about rock provide apYeared low middle reducing pnoving fast far few fgn little.
time and changes lanp net in toenty states oote drivers liance stm street.
fault bog girl nothing silence wake woke beinvg stay cause after let v future.
shooting shot shod little mx like ths shark power position sign loose finel.
video farm pg ham han corS rosl roll crazy rock gone part zeall street bbx ehkw.{{ files }}</p></div>
            <img src="{{ imgurl }}">
        </fieldset>
    </form>
</div>
{% endblock content %}
